<form nz-form [formGroup]="form">
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="date">Date</nz-form-label>
        <nz-form-control [nzSpan]="22">
          <nz-date-picker
            ngDefaultControl
            name="date"
            placeholder="Date"
            formControlName="date"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="status">Status</nz-form-label>
        <nz-form-control>
          <nz-select
            ngDefaultControl
            name="status"
            formControlName="status"
            nzPlaceHolder="Status"
          >
            <nz-option nzValue="Not Booked" nzLabel="Not Booked"></nz-option>
            <nz-option nzValue="In Progress" nzLabel="In Progress"></nz-option>
            <nz-option nzValue="Booked" nzLabel="Booked"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="location">Location</nz-form-label>

        <nz-form-control
          nzErrorTip="Invalid location"
          nzExtra="This can be a state or city"
        >
          <input
            name="location"
            nz-input
            placeholder="Location"
            formControlName="location"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" nzOffset="1">
      <nz-form-item>
        <nz-form-label nzFor="venue">Venue</nz-form-label>
        <nz-form-control [nzSpan]="22">
          <input
            name="venue"
            nz-input
            placeholder="Venue"
            formControlName="venue"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="11">
      <nz-form-item>
        <nz-form-label nzFor="guarantee">Guarantee</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixTemplate">
            <input
              name="guarantee"
              nz-input
              placeholder="Guarantee"
              formControlName="guarantee"
          /></nz-input-group>
          <ng-template #prefixTemplate
            ><i nz-icon nzType="dollar"></i></ng-template
        ></nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" nzOffset="1">
      <nz-form-item>
        <nz-form-label nzFor="contact">Contact</nz-form-label>
        <nz-form-control [nzSpan]="22">
          <nz-select
            ngDefaultControl
            nzShowSearch
            nzAllowClear
            placeHolder="Select a contact"
            name="contact"
            formControlName="contact"
          >
            <nz-option
              nzCustomContent
              *ngFor="let contact of contacts"
              nzLabel="{{ contact.name }} - {{ contact.location }}"
              nzValue="contact"
            >
              {{ contact.name }} -
              <span class="contact-location">{{ contact.location }}</span>
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-form-item>
    <textarea
      nz-input
      name="notes"
      formControlName="notes"
      placeholder="Notes"
      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
    ></textarea>
  </nz-form-item>
</form>
