<h2 mat-dialog-title>Create A Tour Date</h2>
<form [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        name="date"
        [matDatepicker]="date"
        placeholder="Date"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        name="location"
        matInput
        placeholder="Location"
        formControlName="location"
      />
      <mat-hint align="start"
        >This can be a state, city, or exact address</mat-hint
      >
      <mat-error *ngIf="form.controls.location.errors"
        >Invalid location</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-select
        formControlName="contact"
        name="contact"
        placeholder="Contacts"
        #singleSelect
      >
        <mat-option>
          <ngx-mat-select-search
            [placeholderLabel]="'Search...'"
            [noEntriesFoundLabel]="'No matching contacts found'"
            [formControl]="contactsFilterCtrl"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let contact of filteredContacts | async"
          [value]="contact"
        >
          <span class="row justify-content-between align-items-center">
            <div class="col">
              {{ contact.name }}
            </div>
            <div class="col text-right mat-small">
              {{ contact.location }}
            </div>
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #bandList>
        <mat-chip *ngFor="let band of bands" (removed)="remove(band)">
          {{ band.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          name="bandNames"
          matInput
          placeholder="Artists"
          [matChipInputFor]="bandList"
          formControlName="bandNames"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field>
      <textarea
        name="notes"
        formControlName="notes"
        placeholder="Notes"
        matInput
      ></textarea>
      <mat-hint align="start">You know... to jog your brain</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="pb-3" align="end">
    <button
      [disabled]="form.invalid"
      mat-raised-button
      (click)="getCoordinatesAndSubmit()"
      color="primary"
    >
      Create
    </button>
    <button mat-button (click)="this.dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>
