.card-wrapper :hover {
  cursor: pointer;
}

div .card-wrapper,
mat-card {
  width: 100%;
}

img,
.img-container {
  height: 300px;
}

span {
  right: 5px;
  top: 10px;
  position: absolute;
}

.page-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
