<div class="container pt-3" height="100%">
  <h2 nz-title class="mb-3">My Tours</h2>
  <button nz-button nzType="primary" (click)="openModal()" color="primary">
    Create Tour
  </button>

  <div *ngIf="tours | async as tours">
    <div
      class="pt-3"
      fxLayout="row wrap"
      fxLayoutGap.gt-sm="10px"
      fxLayoutGap.gt-xs="10px"
    >
      <div
        class="card-wrapper pb-3"
        *ngFor="let tour of tours"
        fxFlex.gt-sm="24%"
        fxFlex.gt-xs="48%"
        [routerLink]="['./', tour.id]"
      >
        <nz-card [nzCover]="coverTemplate" [nzHoverable]="true">
          <nz-card-meta
            nzTitle="{{ tour.tourName }}"
            nzDescription=" {{ tour.startDate.toDate() | date }} -
            {{ tour.endDate.toDate() | date }}"
          ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <div class="tour-flyer-container">
            <div *ngIf="tour.src" class="tour-img">
              <img
                [hidden]="!tour.src.loaded"
                [src]="tour.src | async"
                (load)="tour.src.loaded = true"
                alt="Tour Flyer"
              />
              <div *ngIf="!tour.src.loaded" class="page-spinner">
                <nz-spin nzSimple></nz-spin>
              </div>
            </div>
            <div *ngIf="!tour.src">
              <nz-empty
                [ngStyle]="{ 'padding-top': '95px' }"
                [nzNotFoundContent]="contentTpl"
                [nzNotFoundFooter]="footerTpl"
              >
                <ng-template #contentTpl>
                  <span> No flyer uploaded </span>
                </ng-template>
              </nz-empty>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="tours.length == 0">
      <nz-card>
        <nz-empty [nzNotFoundContent]="contentTpl"></nz-empty>
        <ng-template #contentTpl>
          <span> No tours added. Click above to create one!</span>
        </ng-template>
      </nz-card>
    </div>
  </div>
</div>
