<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired nzFor="tourName"
      >Tour Name</nz-form-label
    >
    <nz-form-control [nzSpan]="18"
      ><input
        name="tourName"
        nz-input
        placeholder="Tour Name"
        formControlName="tourName"
    /></nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired nzFor="startDate"
      >Start Date</nz-form-label
    >
    <nz-form-control [nzSpan]="9">
      <nz-date-picker
        ngDefaultControl
        name="startDate"
        placeholder="Start Date"
        formControlName="startDate"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired nzFor="endDate"
      >End Date</nz-form-label
    >
    <nz-form-control [nzSpan]="9">
      <nz-date-picker
        ngDefaultControl
        name="endDate"
        placeholder="End Date"
        formControlName="endDate"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <div nz-row>
    <nz-form-item>
      <nz-form-control nz-col nzOffset="6" [nzSpan]="9">
        <nz-upload
          [(nzFileList)]="fileList"
          [nzBeforeUpload]="beforeUpload"
          [nzAccept]="['image / png', 'image / jpeg', 'image / gif']"
          [nzSize]="1000"
        >
          <button nz-button>
            <i nz-icon nzType="upload"></i><span>Upload Tour Flyer File </span>
          </button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
