<div class="container mt-3" height="100%">
  <div id="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="row mb-3">
    <div class="col-md-6 col-6">
      <h1 class="mat-display-1 mb-0">{{ tourName }}</h1>
    </div>
    <div class="col-md-2 col-6">
      <button
        class="float-right"
        (click)="createTourDate()"
        color="primary"
        mat-raised-button
      >
        Create Tour Date
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-8 mb-3">
      <mat-card>
        <mat-card-title> Tour Dates</mat-card-title>
        <div id="tourDatesAccordion" *ngIf="tourDates" #accordion>
          <mat-accordion>
            <mat-expansion-panel
              *ngFor="
                let tourDate of tourDates | async | orderBy: 'date';
                let i = index
              "
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ tourDate.date.toDate() | date: 'shortDate' }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ tourDate.location }}
                  <!-- This is very bad dont do this pls for the love of GOD-->
                  <mat-chip [color]=""
                    >{{
                      directions | async | directionsFilter: i
                    }}
                    hrs</mat-chip
                  >
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-tour-detail-form
                (tourSaved)="updateTourDate($event)"
                (tourDeleted)="deleteTourDate($event)"
                [tourDate]="tourDate"
              ></app-tour-detail-form>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-card>
    </div>
    <div class="col justify-content-center">
      <mat-card>
        <mat-card-title>Driving Stats</mat-card-title>
        <mat-card-content
          ><app-driving-stats
            [directions]="directions | async"
          ></app-driving-stats
        ></mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mat-card>
        <mat-card-title>Map</mat-card-title>
        <app-map [directions]="directions | async"></app-map>
      </mat-card>
    </div>
  </div>
</div>
