.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.centerContent {
  height: 450px;
  overflow: auto;
}

.ant-row {
  padding-bottom: 8px;
}

#tour-flyer-container {
  height: 350px;
}

.tour-flyer {
  height: 100%;
}

#tour-img {
  height: 340px;
}

i {
  vertical-align: middle;
}
