<div nz-row>
  <div id="left-col" nz-col nzSpan="12">
    <div id="tour-timeline">
      <nz-timeline *ngIf="tourDates">
        <nz-timeline-item
          *ngFor="let tourDate of tourDates | orderBy: 'date'; let i = index"
          [nzColor]="getStatusTagColor(tourDate)"
        >
          {{ tourDate.location }} -
          <nz-tag> {{ directions | directionsFilter: i }} hrs</nz-tag>
        </nz-timeline-item>
      </nz-timeline>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <nz-statistic
      [nzValue]="tourStats.totalMiles | metersToMiles"
      [nzTitle]="'Total Distance (mi)'"
    ></nz-statistic>
    <nz-divider></nz-divider>
    <nz-statistic
      [nzValue]="tourStats.hours | secondsToHours"
      [nzTitle]="'Driving Time (hrs)'"
    ></nz-statistic>
    <nz-divider></nz-divider>
    <nz-statistic
      [nzValue]="tourStats.longestDrive | secondsToHours"
      [nzTitle]="'Longest Drive (hrs)'"
    ></nz-statistic>
    <nz-divider></nz-divider>
    <nz-statistic
      [nzValue]="tourStats.shortestDrive | secondsToHours"
      [nzTitle]="'Shortest Drive (hrs)'"
    ></nz-statistic>
  </div>
</div>
