mgl-map {
  height: 425px;
}

.marker {
  background-image: url('../../../../../node_modules/@mapbox/maki/icons/marker-11.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.card-header-red {
  height: 5px;
  background-color: red;
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.card-header-blue {
  height: 5px;
  background-color: #3f51b5;
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

span {
  right: 5px;
  top: 5px;
  position: absolute;
}
