mgl-map {
  height: 525px;
}

.marker {
  background-image: url('../../../../../node_modules/@mapbox/maki/icons/marker-11.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
