<h2 mat-dialog-title>Edit {{ data.tourName }} Tour</h2>
<form [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field>
      <input
        name="tourName"
        matInput
        placeholder="Tour Name"
        formControlName="tourName"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-chip-list #bandList>
        <mat-chip *ngFor="let band of bands" (removed)="remove(band)">
          {{ band.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          name="bandNames"
          matInput
          placeholder="Artists"
          [matChipInputFor]="bandList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          formControlName="bandNames"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="startDate"
        [matDatepicker]="startDate"
        placeholder="Start date"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDate"
      ></mat-datepicker-toggle>
      <mat-datepicker touchUi #startDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="endDate"
        [matDatepicker]="endDate"
        placeholder="End date"
        formControlName="endDate"
      />
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker touchUi #endDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <ngx-mat-file-input
        formControlName="file"
        placeholder="Upload Tour Flyer"
        [accept]="['.pdf', '.img', '.jpg']"
      ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <div *ngIf="uploadPercent">
      Creating Tour...
      <mat-progress-bar
        mode="determinate"
        [value]="uploadPercent | async"
      ></mat-progress-bar>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="pb-3" align="end">
    <button
      [disabled]="form.invalid"
      mat-raised-button
      (click)="onSubmit()"
      color="primary"
    >
      Save
    </button>
    <button mat-button (click)="this.dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>
